<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>NCG - {{ title }} </title>
    <meta name="description" content="">    
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="/static/img/favicon/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/img/favicon/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/img/favicon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/img/favicon/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/img/favicon/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/img/favicon/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/img/favicon/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/img/favicon/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/img/favicon/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/static/img/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/static/img/favicon/favicon-194x194.png" sizes="194x194">
    <link rel="icon" type="image/png" href="/static/img/favicon/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/static/img/favicon/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/static/img/favicon/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/static/img/favicon/manifest.json">
    <link rel="mask-icon" href="/static/img/favicon/safari-pinned-tab.svg" color="#438091">
    <link rel="shortcut icon" href="/static/img/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="/static/img/favicon/mstile-144x144.png">
    <meta name="msapplication-config" content="/static/img/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">


    <!-- Google Font -->
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
    
    <!-- NexeCSS -->
    <link href='static/css/style.css' rel ='stylesheet' type='text/css'>

    <!-- Bootstrap Core CSS -->
    <link href="static/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    
    <!-- Plugins CSS -->
    <link href="static/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="static/plugins/animate-css/animate.min.css" rel="stylesheet" type="text/css">
    <link href="static/plugins/owl-carousel/owl.carousel.css" rel="stylesheet" type="text/css">
    <link href="static/plugins/owl-carousel/owl.theme.css" rel="stylesheet" type="text/css">
    <link href="static/plugins/jquery-magnificPopup/magnific-popup.css" rel="stylesheet" type="text/css">
    
    <!-- Component CSS -->
    <link href="static/css/component/component.css" rel="stylesheet" type="text/css">
    
    <!-- Main CSS -->
    <link href="static/css/rinjani.css" rel="stylesheet" type="text/css">
    
    <!-- Color CSS -->
    <!--<link href="static/css/colors/blue.css" rel="stylesheet" type="text/css">-->
    <!--<link href="static/css/component/colors/blue.css" rel="stylesheet" type="text/css">-->
    
    <!-- Modernizr JS for IE9 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="static/plugins/modernizr.min.js"></script>
    <![endif]-->
</head>

<!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" data-offset="51">
<defs>
<symbol id="icon-circle-down" viewBox="0 0 1024 1024">
<title>circle-down</title>
<path class="path1" d="M1024 512c0-282.77-229.23-512-512-512s-512 229.23-512 512 229.23 512 512 512 512-229.23 512-512zM96 512c0-229.75 186.25-416 416-416s416 186.25 416 416-186.25 416-416 416-416-186.25-416-416z"></path>
<path class="path2" d="M317.256 354.744l-90.512 90.512 285.256 285.254 285.254-285.256-90.508-90.508-194.746 194.744z"></path>
</symbol>
</defs>
    <!--[if lt IE 8]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->    

<!-- Begin Page Loader -->
<div id="page-loader">
    <div class="preload">
        <img src="static/img/preloader.gif" alt="Loading"/>
    </div>
    <!-- //.preload -->
</div>
<!-- //End Page Loader -->
<!-- Begin Navbar -->
<nav id="navigation" class="navbar navbar-inverse navbar-fixed-top navbar-landing" role="navigation">
    <div class="container">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-rj-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            
            <a href="#page-top"><img class="navbar-brand" id="navbar-logo" src="static/img/logo.png"></a>
            <a class="navbar-brand" href="#page-top">Nexecon</a>
        </div>
        <!-- //.navbar-header -->
        
        <div class="navbar-collapse collapse navbar-rj-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="page-scroll">
                    <a href="#who-we-are">About</a>
                </li>
                
                <li class="page-scroll">
                    <a href="#our-main-skills">Skills</a>
                </li>
                
                <li class="page-scroll">
                    <a href="#our-services">Services</a>
                </li>
                
                <li class="page-scroll">
                    <a href="#our-latest-work">Portfolio</a>
                </li>
                
                <li class="page-scroll">
                    <a href="#meet-the-team">Team</a>
                </li>
                
                <li class="page-scroll">
                    <a href="#our-pricing">Pricing</a>
                </li>
                
                <li class="page-scroll">
                    <a href="#contact-us">Contact</a>
                </li>
            </ul>
        </div>
        <!-- //.navbar-collapse -->
    </div>
    <!-- //.container -->
</nav>
<!-- //End Navbar -->
    
{% block content %}
{% endblock %}

        <!-- Begin Copyright -->
        <div id="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p>Copyright &copy; 2016 Nexecon Consulting Group. All Rights Reserved.</p>
                    </div>
                    <!-- //.col-md-12 -->
                </div>
                <!-- //.row -->
            </div>
            <!-- //.container -->
        </div>
        <!-- //End Copyright -->
    </footer>
    <!-- //End Footer -->

    
    <!-- Plugins JS -->
    <script src="static/plugins/jquery.min.js"></script>
    <script src="static/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/plugins/detectmobilebrowser/detectmobilebrowser.js"></script>
    <script src="static/plugins/smartresize/smartresize.js"></script>
    <script src="static/plugins/jquery-easing/jquery.easing.min.js"></script>
    <script src="static/plugins/jquery-vide/jquery.vide.js"></script>
    <script src="static/plugins/jquery-sticky/jquery.sticky.js"></script>
    <script src="static/plugins/jquery-inview/jquery.inview.min.js"></script>
    <script src="static/plugins/jquery-countTo/jquery.countTo.js"></script>
    <script src="static/plugins/jquery-easypiechart/jquery.easypiechart.min.js"></script>
    <script src="static/plugins/jquery-countdown/jquery.countdown.min.js"></script>
    <script src="static/plugins/owl-carousel/owl.carousel.min.js"></script>
    <script src="static/plugins/isotope/isotope.pkgd.min.js"></script>
    <script src="static/plugins/jquery-magnificPopup/jquery.magnific-popup.min.js"></script> 
    <script src="static/plugins/jquery-validation/jquery.validate.min.js"></script>
    
    <!-- Main JS -->
    <script src="static/js/main.js"></script>
    
    <!-- Animation JS (Optional) -->
    <script src="static/js/animation.js"></script>
    
    <!-- Component JS -->
    <script src="static/js/component/bar-chart.js"></script>
    <script src="static/js/component/countdown.js"></script>
    <script src="static/js/component/counters.js"></script>
    <script src="static/js/component/pie-chart.js"></script>
    <script src="static/js/component/portfolio.js"></script>
    <script src="static/js/component/animation.js"></script>
    
    <!-- Map JS -->
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script src="static/js/component/map.js"></script>

</body>

</html>