{% extends "base.html" %}
{% block content %}
<section class="section error-page">
	<div class="section-inner">
        <div class="container section-content">
            <div class="row">
                <div class="col-md-12">
                	<div class="section-title text-center">
	                        <div class="logo">
                            	<img src="static/img/logo.png">
                        	</div>
                            <p>The page you were looking for could not be found</p>
                            <p><a href="index">Nexeconconsulting.com</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}