{% extends "base.html" %}
{% block content %}
    <!-- Begin Intro Section -->
    <section id="intro">
        <div class="intro-body text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 intro-content">
                        <div class="logo">
                            <!-- <h1>N</h1> -->
                            <img src="static/img/logo.png">
                        </div>
                        <!-- //.logo -->
                        
                        <div class="intro-text text-center">
                            <h2>Nexecon Consulting Group</h2>

                            <p class="lead">Nexecon Consulting Group is a student-run, not-for-profit consulting group that exists to provide services in strategy, marketing, and management consulting.</p>
                        </div>
                        <!-- //.intro-text -->

                        <div class="page-scroll">
                            <a href="client" class="btn btn-lg btn-rj landing-btn">Client</a>
                            <a href="#who-we-are" class="btn btn-lg btn-rj landing-btn">Student</a>
                        </div>
                        <!-- //.page-scroll -->
                    </div>
                    <!-- //.intro-content -->
                </div>
                <!-- //.row -->
            </div>
            <!-- //.container -->
        </div>
        <!-- //.intro-body -->
    </section>
    <!-- //End Intro Section -->

{% endblock %}